 .example-card {
     width: 400px;
     height: 400px;
     cursor: pointer;
     margin: 20px;
 }
 
 .div-cards {
     display: flex;
     width: 100%;
     height: 90%;
     justify-content: center;
     align-items: center;
 }
 
 .div-general-administrador {
     display: flex;
 }
 
 .div-listado {
     width: 50%;
     padding: 20px;
 }
 
 .div-usuario {
     width: 50%;
     padding: 20px;
 }