<table class="table table-striped" class="mat-elevation-z8" style="width: 100%; padding: 10px;">
    <thead>
        <tr>
            <th style="text-align: left;">Id</th>
            <th style="text-align: left;">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of listadoUsuarios">
            <td style="width: 10%;">{{usuario.id}}</td>
            <td style="width: 75%;">{{usuario.email}}</td>
            <td style="width: 15%;">
                <button mat-icon-button color="primary" (click)="mostrarDetalles(usuario)">
                    <mat-icon>visibility</mat-icon>
                  </button>
            </td>
        </tr>
    </tbody>
</table>